<div class="footer">
  <ul>
    <li (click)="toggle()">
      <a href="javascript:void(0)">施術について調べる</a>
      <i class="fa fa-chevron-down icon-dropdown-down"></i>
      <div class="dropdown-container">
          <p class="dropdown-title">美肌・美白</p>
          <div class="dropdown-content">
              <a class="footer-underline" href="https://kireipass.jp/treatment/drip">美容点滴</a><span class="border"></span>
              <a class="footer-underline" href="https://kireipass.jp/treatment/injection">美容注射</a><span class="border"></span>
              <a class="footer-underline" href="https://kireipass.jp/treatment/shiratama">白玉点滴</a><span class="border"></span>
              <a class="footer-underline" href="https://kireipass.jp/treatment/vitaminc">高濃度ビタミンC点滴</a><span class="border"></span>
              <a class="footer-underline" href="https://kireipass.jp/treatment/electroporation">エレクトロポレーション</a><span class="border"></span>
          </div>
          <p class="dropdown-title">しみ・そばかす・赤ら顔・肝斑</p>
          <div class="dropdown-content">
            <a class="footer-underline" href="https://kireipass.jp/treatment/photorf">フォトRF</a><span class="border"></span>
            <a class="footer-underline" href="https://kireipass.jp/treatment/photofacial">フォトフェイシャルM22</a><span class="border"></span>
            <a class="footer-underline" href="https://kireipass.jp/treatment/photosilk">フォトシルクプラス</a><span class="border"></span>
            <a class="footer-underline" href="https://kireipass.jp/treatment/lasertoning">レーザートーニング</a><span class="border"></span>
          </div>
          <p class="dropdown-title">しわ・たるみ・ほうれい線</p>
          <div class="dropdown-content">
            <a class="footer-underline" href="https://kireipass.jp/treatment/vitalinjector">水光注射</a><span class="border"></span>
            <a class="footer-underline" href="https://kireipass.jp/treatment/hifu">HIFU（ハイフ）</a><span class="border"></span>
          </div>
          <p class="dropdown-title">にきび・にきび跡</p>
          <div class="dropdown-content">
            <a class="footer-underline" href="https://kireipass.jp/treatment/picofractional">ピコフラクショナルレーザー</a><span class="border"></span>
            <a class="footer-underline" href="https://kireipass.jp/treatment/peeling">ケミカルピーリング</a><span class="border"></span>
            <a class="footer-underline" href="https://kireipass.jp/treatment/fractional">フラクショナルレーザー</a><span class="border"></span>
            
          </div>
          <p class="dropdown-title">若返り・アンチエイジング</p>
          <div class="dropdown-content">
            <a class="footer-underline" href="https://kireipass.jp/treatment/ozone">血液クレンジング</a><span class="border"></span>
            <a class="footer-underline" href="https://kireipass.jp/treatment/ninniku">にんにく注射</a><span class="border"></span>
          </div>
          <p class="dropdown-title">ほくろ・いぼ</p>
          <div class="dropdown-content">
            <a class="footer-underline" href="https://kireipass.jp/treatment/co2">CO2レーザー</a><span class="border"></span>
          </div>
          <p class="dropdown-title">小顔・顔痩せ</p>
          <div class="dropdown-content">
            <a class="footer-underline" href="https://kireipass.jp/treatment/shiboyokai">脂肪溶解注射</a><span class="border"></span>
            <a class="footer-underline" href="https://kireipass.jp/treatment/bnls">BNLS・BNLS neo</a><span class="border"></span>
            <a class="footer-underline" href="https://kireipass.jp/treatment/mlm">輪郭注射</a><span class="border"></span>
          </div>
        </div>
    </li>
    <li>
      <a href="javascript:void(0)">お問い合わせ（ユーザー様向け）</a>
    </li>
    <li>
      <a href="javascript:void(0)">お問い合わせ（クリニック様向け）</a>
    </li>
    <li>
      <a href="javascript:void(0)">よくあるご質問</a>
    </li>
    <li>
      <a href="javascript:void(0)">利用規約</a>
    </li>
    <li>
      <a href="javascript:void(0)">プライバシーポリシー</a>
    </li>
    <li>
      <a href="javascript:void(0)">kireipassについて</a>
    </li>
    <li>
      <a href="javascript:void(0)">特定商取引法に基づく表記</a>
    </li>
    <li>
      <a href="javascript:void(0)">運営会社について</a>
    </li>
  </ul>

  <div class="footer-bottom">
      「kireipass byGMO」を運営するGMOくまポン株式会社は東証１部上場のGMOインターネット株式会社の100%出資子会社です
  </div>
</div>