@charset "UTF-8";
/*common start*/
.treatment-special #treatment a, #campaign a {
    color: #006fd5;
}

@media (min-width: 767px) {
.treatment-special #treatment p a:hover, #campaign p a:hover {
    text-decoration: underline !important;
}
}
.flexbox-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
.flexbox-center {
    width: 10%;
}
}
/*common end*/

/*treatment start*/
.treatment-special #treatment {
    font-family: Noto, 游ゴシック体, Yu Gothic, YuGothic, ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif !important;
}
.treatment-special #treatment header {
    width: 100%;
    height: 0;
 padding-top: calc(730 / 2000 * 100%);
    /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background: url(https://kireipass.jp/assets/images/common/main_bg.gif) center center / cover no-repeat;
    position: relative;
}
.treatment-special #treatment header h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.treatment-special #treatment header h1 .cap {
    display: block;
    text-align: center;
    font-size: 0.4em;
    margin-top: 0.5em;
    letter-spacing: 0.15em;
    color: #f87ca7;
}
.treatment-special #treatment header h1 .operation1 {
    display: block;
}
.treatment-special p.description-txt {
    color: #7f8c8d;
}
.treatment-special #treatment header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.container.treatment-special {
    padding: 0 !important;
}

@media (max-width: 768px) {
.treatment-special #treatment header h1 {
    font-size: 5.5vw;
    white-space: nowrap;
}
}

@media (min-width: 767px) {
.treatment-special #treatment header h1 {
    font-size: 2em;
}
}
.treatment-special img {
    max-width: 100%;
}
.treatment-special p {
    line-height: 2em;
}
.treatment-special ul.liststyle-disc {
    padding-left: 1.5em;
}
.treatment-special .liststyle-disc li {
    list-style: disc;
}
.treatment-special .mrl1 {
    margin-left: 1em;
    margin-left: 1em;
}
.treatment-special .inner {
    padding: 0 1.5rem;
}
.treatment-special .contents-box {
    padding-top: 5em;
}
.treatment-special .contents-box:last-child {
    padding-bottom: 5em;
}
.treatment-special .contents-box h2 {
    margin: 0 0 1.5em;
    text-align: center;
    border: 0;
}
.treatment-special .contents-box h2 em {
    background: linear-gradient(transparent 70%, #fff4f6 30%);
    padding: 0.2em 0.5em;
    color: #f87ca7;
    font-size: 1.6rem;
    line-height: 1.4em;
    max-height: 100%;
    font-style: normal;
    font-weight: normal;
}
.treatment-special .bg-arrow {
    background: #fcf2f4;
    position: relative;
}
.treatment-special .nayami {
    background: #f8a6c2;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin: 2em 0 0;
    position: relative;
}
.treatment-special .nayami:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #faa5c2;
}
.treatment-special .bg_triangle {
    background: #faa5c2;
}
.treatment-special .bg_triangle svg {
    fill: #fcf2f4;
    width: 100%;
    height: 50px;
}
.treatment-special .pink {
    background: #faa5c2;
}
.treatment-special .swiper-container {
    padding: 0.5em 0;
}
.treatment-special ul.item-ticket {
    padding: 0.5em 1em 2em;
    display: flex;
    justify-content: safe left;
    position: relative;
}
.treatment-special .swiper-slide {
    height: auto !important;
}
.treatment-special .more a:hover {
    opacity: 0.6;
    color: #f185a9;
}
.treatment-special .recommend {
    text-align: center;
    color: #fff;
    padding: 1em 0 0.5em;
}
.treatment-special section .top-slide {
    padding-bottom: 28px;
}
.treatment-special .check-list {
    background: #fcf2f4;
    font-size: 1.1em;
    font-weight: bold;
    color: #958a8e;
    padding: 1em;
    overflow: hidden;
    margin: 0;
}
.treatment-special .check-list li {
    margin-left: 3.3em;
    text-indent: -3.3em;
}
.treatment-special .check-list li:before {
    content: url(https://kireipass.jp/assets/images/common/check.gif);
    margin: 10px;
    position: relative;
    top: 10px;
}
.treatment-special .operation {
    counter-reset: my-counter;
    background: #fff4f9;
    padding: 2em 1.5em 1.2em;
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}
.treatment-special .operation li {
    border-radius: 5px;
    padding: 0.5em 0.7em 1em !important;
    color: #fea3c2;
    background: #fff;
    width: 45%;
    overflow: hidden;
    margin-bottom: 0.8em;
    font-size: 0.95em;
}
.treatment-special .operation p {
    border-bottom: 1px dotted #ffb9d1;
    padding: 0 0.5em 0.5em;
    text-align: center;
    line-height: 1.4em;
}

@media (min-width: 768px) {
.treatment-special .operation {
    flex-wrap: nowrap;
    display: flex;
}
.treatment-special .operation li {
    margin: 0 0.5em;
}
}
.treatment-special .operation li div {
    overflow: hidden;
}
.treatment-special .operation li:before {
    contents: "Before";
    background-color: #f87ca7;
    color: #fff;
    display: block;
    float: left;
    line-height: 22px;
    text-align: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-bottom: 0.5em;
}
.treatment-special .operation img {
    width: 90%;
    display: block;
    margin: 1em 0;
}
.treatment-special .qa {
    background: #ecfcff;
    margin-top: 4em;
}
.treatment-special section.qa h2 {
    color: #86d6e0;
    font-size: 2.8em !important;
    font-weight: normal !important;
    padding: 0.8em 0 0.5em;
    margin-bottom: 0 !important;
    text-align: center;
}
.treatment-special .qa dt, .treatment-special .qa dd {
    padding: 1.2rem 1.5rem;
}
.treatment-special .qa dt {
    background: #86d6e0;
    color: #fff;
    font-weight: normal;
    font-size: 1.2em;
    margin-right: 1rem;
    text-indent: -1.8rem;
    padding: 1em 0.5em 1em 3rem;
}
.treatment-special .qa dt:before {
    content: "Q.";
    font-size: 1.4em;
    margin-right: 0.2em;
}
.treatment-special .qa dd {
    line-height: 1.8rem;
    color: #555;
    padding: 1.2rem 1.5rem 2.2rem 2.8rem;
    text-indent: -1.8em;
}
.treatment-special .qa dd:before {
    content: "A.";
    color: #3daabc;
    font-size: 1.6em;
    margin-right: 0.2em;
}
.drugtype h4 {
    border-bottom: 1px solid #333;
    border-left: 10px solid #333;
    font-size: 1.2rem !important;
    line-height: 1em;
    margin-bottom: 2em;
    padding: 0 0 .5em 1em;
}
.contents-inner {
    margin-bottom: 5em;
}
.contents-inner:last-child {
    border-top: 1px solid #333333;
    margin-bottom: 0;
    padding-top: 5em;
}
.sub-title {
    border-bottom: 1px dashed #7f8c8d;
    color: #7f8c8d;
    color: #958a8e;
    font-size: 1rem;
    display: inline-block;
    font-weight: bold;
    line-height: 1em !important;
    margin-bottom: 2em !important;
    padding-bottom: 5px;
}
.commentary {
    background: #eeeeee;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    padding: 10px 20px;
}
.drugtype p.sub-title i {
    font-size: 1.1rem;
    margin-left: 10px;
}
.drugtype dl {
    margin-bottom: 2em;
}
.drugtype dt {
    color: #f87ca7;
    margin-bottom: .5em;
}
.drugtype dd {
    padding-left: 3em;
    margin-bottom: 2em;
}
.treatment-special .operation.before-after {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.treatment-special .operation .operation-box {
    border-radius: 5px;
    padding: 0.5em 0.7em 1em !important;
    color: #fea3c2;
    background: #fff;
    width: 40%;
    overflow: hidden;
    margin: 0 0.5em 0.8em;
    font-size: 0.95em;
}

@media (max-width: 768px) {
.treatment-special .operation .operation-box {
    width: 40%;
}
}
.operation .fa-arrow-right {
    color: #f87ca7;
    font-size: 3rem;
    margin: 10px;
}

@media (max-width: 768px) {
.operation .fa-arrow-right {
    font-size: 2rem;
}
}
/*treatment end*/

/*campaign start*/
#campaign {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    padding-bottom: 2em;
    color: #6f512f;
    z-index: 0
}
#campaign .lead {
    padding: 1.8em 1em;
    font-size: .9em;
    color: #6f512f;
    line-height: 1.8em;
    text-align: center
}
.beige {
    color: #ad9789
}
/*inner*/

#campaign .inner {
    padding: 0 1rem
}
#campaign .contents-box {
    padding: 5em 0 1em;
    background: #f9f5f3
}
#campaign .contents-box2 {
    padding: 1em 0
}
#campaign .contents-box {
    padding-top: 3em;
    margin: 2em 1em 5em
}
#campaign .promotion_code {
    width: 60%;
    height: 60px;
    border-radius: .2em;
    border: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 2.4em;
    box-shadow: 2px 2px 4px #c1a78e inset;
    background: #fff;
    line-height: 1.6em;
    position: relative;
    border: 1px solid #fff;
}
#campaign .promotion_code:after {
    content: "コピー";
    color: #ff9996;
    font-size: .35em;
    position: absolute;
    bottom: 0;
    right: .5em;
    height: 55px;
}
#campaign .promotion_code:link {
    color: #89461C;
}
#campaign .promotion_code:hover, #campaign .promotion_code:active, #campaign .promotion_code:visited {
    color: #B17F60
}
#campaign section h2 {
    position: relative;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
#campaign .contents-box h2 {
    position: relative;
    text-align: center;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4.2em;
    margin-bottom: 1.5em !important;
}
#campaign section h3 {
    margin: 4em auto 0;
    text-align: center;
    font-size: 1em;
    color: #555
}
#campaign .contents-box .discount_8000:before {
    background: url(https://kireipass.jp/assets/images/special/common/off_8000.gif)center center /cover no-repeat
}
#campaign .contents-box .discount_6000:before {
    background: url(https://kireipass.jp/assets/images/special/common/off_6000.gif)center center /cover no-repeat
}
#campaign .contents-box h2:before {
    content: '';
    display: inline-block;
    margin-bottom: .5em;
    width: 90px;
    height: 90px;
}
#campaign .contents-box .discount_4000:before {
    background: url(https://kireipass.jp/assets/images/special/common/off_4000.gif)center center /cover no-repeat
}
#campaign .contents-box .discount_3000:before {
    background: url(https://kireipass.jp/assets/images/special/common/off_3000.gif)center center /cover no-repeat
}
#campaign .contents-box .discount_2000:before {
    background: url(https://kireipass.jp/assets/images/special/common/off_2000.gif)center center /cover no-repeat
}
#campaign .contents-box .discount_1000:before {
    background: url(https://kireipass.jp/assets/images/special/common/off_1000.gif)center center /cover no-repeat
}
#campaign .contents-box .discount_500:before {
    background: url(https://kireipass.jp/assets/images/special/common/off_500.gif)center center /cover no-repeat
}
#campaign .row {
    display: flex;
    flex-direction: column;
}
#campaign .list-ticket {
    margin: 2em auto;
    width: 80%;
}
#campaign .title_ticket_v2 {
    font-size: .8em
}
/*チケット部分*/

#campaign .item-ticket-box {
    position: relative;
    margin: 2em 0 1em;
    padding: 0.5em;
}
#campaign .item-ticket-box .ticket-box-midashi {
    color: #a06a4a;
    text-align: center;
}
#campaign ul.item-ticket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: .3em
}
#campaign ul.item-ticket>.ticket {
    background: #fff;
    width: 45%;
    margin: .5em;
    display: inline-block;
    padding: .3em;
    position: relative;
    color: #fff;
    display: inline-block;
    padding: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 3px #e0d6d6;
}
#campaign ul.item-ticket>.ticket .off_tx_p {
    display: inline
}
#campaign ul.item-ticket>.ticket .off_tx_p .off_tx {
    position: absolute;
    display: inline-block;
    right: -45px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), inset 0px 5px 20px rgba(255, 255, 255, 0.2);
    text-align: center;
    text-transform: uppercase;
    top: 18px;
    background: #f1c847;
    width: 160px;
    padding: 1px 10px;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    font-size: .8em;
    height: 25px;
    line-height: 2.2em
}
#campaign ul.item-ticket>.ticket .off_tx_p:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -17px;
    right: 69px;
    z-index: -1;
    border: 17px solid;
    border-color: transparent transparent #662121 transparent;
}
#campaign ul.item-ticket>li a {
    display: block
}
#campaign .item-ticket .eria {
    display: flex;
    margin-bottom: .2em;
}
#campaign .item-ticket ul li {
    background: rgba(255, 112, 112, 1);
    color: #fff;
    padding: 0 .3em;
    font-size: .6em;
    margin-right: .4em;
}
#campaign .price {
    color: #E74C3C;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: .5em
}
#campaign .price span {
    font-size: .5em
}
#campaign .item-read {
    font-size: .9em;
    color: #555;
    padding: 0 .8em .5em;
    line-height: 1.6em;
}
/*使い方*/

#campaign ol {
    counter-reset: my-counter;
    margin: 0 auto;
    list-style: none;
    padding: 0 2em;
}
#campaign ol li {
    margin-bottom: 2em;
    padding: 1.5em 2.5em;
    background: #f9f7f7;
    color: rgb(125, 85, 58);
    position: relative;
    width: 100%
}
#campaign ol li:before {
    content: counter(my-counter);
    counter-increment: my-counter;
    background-color: rgba(255, 112, 112, 1);
    color: #ffffff;
    display: block;
    float: left;
    line-height: 18px;
    margin-left: -22px;
    text-align: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: .7em;
    font-weight: bold;
}
#campaign ol li:not(:last-child):after {
    border: 30px solid transparent;
    border-top-color: #ffe2e2;
    border-bottom-width: 0;
    bottom: -1.5em;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    width: 0;
    margin-left: -30px;
}
#campaign ol li img {
    margin-top: .5em;
    width: 100%;
    border: 1px solid #e8dcdc
}
#campaign .cord {
    display: flex;
    text-align: center;
    margin: 1em auto;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 3.5em auto 3em;
}
#campaign .cord #copyTarget {
    font-size: 2em;
    padding: 1em;
    width: 75%;
    text-align: center;
    height: 60px;
    margin-right: .2em;
    color: #925934;
    border-radius: .2em;
    border: 1px solid #e4d8cb;
}
#campaign .cord button {
    width: 40px;
    height: 40px;
    font-size: 8px;
    color: #fff;
    border-radius: 5em;
    border: 0;
    padding: .5em 0;
    font-weight: bold;
    background: rgb(253, 145, 142);
    box-shadow: 0px 2px 2px rgba(125, 98, 70, 0.29);
    transition: .4s;
    background-image: linear-gradient(45deg, rgb(253, 145, 142) 0%, #ffcab6 100%);
}
#campaign .ticket_more a {
    width: 80%;
    background: linear-gradient(45deg, rgb(253, 103, 99) 0%, #ffc4bc 100%);
    padding: 1.8em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5em;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(125, 98, 70, 0.29)
}
#campaign .ticket_more a:hover {
    background: #fff;
    color: rgb(253, 145, 142);
    border: 1px solid;
    box-shadow: none
}
/*campaign end*/
